
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.color-1{
    color: #3A3A3A;
}
.color-2{
    color: #18191F;
}
.color-light2{
    color: #787885;
}
.color-3{
    color: #0A0826;
}
.color-light3{
    color: #6C6C6C;
}
.color-light4{
    color: #D9DBE1;
}
.btn-style{
    background-color: #E02C6D;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}
section{
    margin-top: 50px;
}
.flex{
    display: flex;
}

/* Nav Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    gap: 34px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* Banner Section Styles */
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-desc{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-btn{
    border-radius: 41px;
}
.banner-img{
    max-width: 440px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
}