
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Styles */
.poppins-font{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.inter-font{
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
}
.manrope-font{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.color-1{
    color: #3A3A3A;
}
.color-2{
    color: #18191F;
}
.color-light2{
    color: #787885;
}
.color-3{
    color: #0A0826;
}
.color-light3{
    color: #6C6C6C;
}
.color-light4{
    color: #D9DBE1;
}
.btn-style{
    background-color: #E02C6D;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}
section{
    margin-top: 60px;
}
.flex{
    display: flex;
}

header{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 60px;
}

/* Nav Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    align-items: center;
    gap: 34px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* Banner Section Styles */
.banner{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.banner-content{
    max-width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-desc{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-btn{
    border-radius: 41px;
    margin-top: 16px;
}
.banner-img{
    max-width: 440px;
    background-image: url(../images/Circle\ design.svg);
}

/* Sponsors Section Styles*/
.sponsors .img-container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 37px 62px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    margin-bottom: 100px;
}

/* Collections Section Styles */
.collections{
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.collections-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.collections-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.items-container{
    border-radius: 5px;
    width: 329px;
    height: 476px;
    padding-top: 17px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    justify-content: center;
}
.items-container img{
    border-radius: 5px;
}
.items-name{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    margin-top: 16px;
}
.items-value{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    margin: 0;
    margin-top: 6px;
}
.ratings{
    margin-top: 10px;
    color: #FB8200;
}
.items-desc{
    font-size: 0.9rem;
    font-weight: 700;
    max-width: 196px;
    margin: 0;
    margin-top: 10px;
}
.items-btn{
    color: rgba(224, 44, 109, 0.87);
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    display: block;
    margin-left: auto;
}
/* Feature Section Styles */
.feature{
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    gap: 76px;
    margin-bottom: 100px;
}
.feature-img{
    border-radius: 7px;
}
.feature-title{
    font-size: 2.40rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
}
.feature-desc{
    font-size: 1rem;
    font-weight: 700;
    max-width: 501px;
    margin-bottom: 16px;
}
/* Footer Section Styles */
footer{
    background-color: #0A0826;
}
.footer-content{
    max-width: 262px;
    margin: 0 auto;
    padding: 50px 0;    
    text-align: center;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
.footer-subtitle{
    font-size: 0.8rem;
    font-weight: 700;
}
.footer-links .fa-brands{
    border-radius: 50%;
    opacity: 70%;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: none;
    padding: 10px;
}

/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
}